<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baijiayun.live.ui">

    <application>
        <activity
            android:name=".LiveRoomTripleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".activity.LiveRoomActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:theme="@style/LiveAppTheme"
            android:windowSoftInputMode="adjustResize"
            />
    </application>

</manifest>